# registry=https://registry.npmmirror.com
registry=http://47.118.89.103:8081/repository/ymnpm-all/
@ym:registry=http://47.118.89.103:8081/repository/ymnpm-all/
@yimian-ui:registry=http://47.118.89.103:8081/repository/ymnpm-all/
