/*
  This variables file control both tailwind configurations and Element theming.
*/

/* SASS Variables */
$--color-gray-1: rgba(255,255,255,1);
$--color-gray-2: rgba(243,245,247,1);
$--color-gray-3: rgba(224,229,235,1);
$--color-gray-4: rgba(208,215,225,1);
$--color-gray-5: rgba(172,184,200,1);
$--color-gray-6: rgba(140,156,176,1);
$--color-gray-7: rgba(76,102,134,1);
$--color-gray-8: rgba(43,74,112,1);
$--color-gray-9: rgba(16,31,75,1);
$--color-gray-10: rgba(0,0,0,1);

$--color-white: #fff !default;
$--color-black: #000 !default;

$--color-blue-5: rgba(28,131,236,1);

$--color-primary: $--color-blue-5 !default;
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */

// DarkBlue
$--color-darkblue-50:  #F3F7FC;
$--color-darkblue-100: #E7EEF9;
$--color-darkblue-200: #D9E5F2;
$--color-darkblue-300: #B3C9E4;
$--color-darkblue-400: #698EBF;
$--color-darkblue-500: #4975AC;
$--color-darkblue-600: #2A558D;
$--color-darkblue-700: #1B3C6A;
$--color-darkblue-800: #0F2E57;
$--color-darkblue-900: #0D203B;

// Brand
$--color-brand-50:  #F0F6FF;
$--color-brand-100: #E5F1FF;
$--color-brand-200: #BDDBFF;
$--color-brand-300: #8FC1FF;
$--color-brand-400: #61A9FF;
$--color-brand-500: #338FFF;
$--color-brand-600: #1271ED;
$--color-brand-700: #0056BE;
$--color-brand-800: #00408F;
$--color-brand-900: #002D66;

// Skyblue
$--color-skyblue-50:  #F0FAFF;
$--color-skyblue-100: #E1F4FE;
$--color-skyblue-200: #BDE7FD;
$--color-skyblue-300: #7ED2FB;
$--color-skyblue-400: #42BCFA;
$--color-skyblue-500: #19ACF5;
$--color-skyblue-600: #0091E5;
$--color-skyblue-700: #0071B8;
$--color-skyblue-800: #004E80;
$--color-skyblue-900: #003152;

// Cyan
$--color-cyan-50:  #F0FDFF;
$--color-cyan-100: #D7F9FE;
$--color-cyan-200: #A6F1FC;
$--color-cyan-300: #64E3F7;
$--color-cyan-400: #22D7F1;
$--color-cyan-500: #09C4E1;
$--color-cyan-600: #04A7C8;
$--color-cyan-700: #05829E;
$--color-cyan-800: #0D5F77;
$--color-cyan-900: #08475E;

// Green
$--color-green-50:  #EDFAF4;
$--color-green-100: #DCF4E8;
$--color-green-200: #A7E4C6;
$--color-green-300: #7BD6A9;
$--color-green-400: #50C98D;
$--color-green-500: #2DB270;
$--color-green-600: #119C57;
$--color-green-700: #0E8147;
$--color-green-800: #0A5C34;
$--color-green-900: #08492A;

// Lime
$--color-lime-50:  #F6FCED;
$--color-lime-100: #E6FAC7;
$--color-lime-200: #D0F599;
$--color-lime-300: #B6EE63;
$--color-lime-400: #9EDB43;
$--color-lime-500: #7FC219;
$--color-lime-600: #639C11;
$--color-lime-700: #4C7813;
$--color-lime-800: #3D5C14;
$--color-lime-900: #304B11;

// Orange
$--color-orange-50:  #FFFAF0;
$--color-orange-100: #FEF3D7;
$--color-orange-200: #FDE19B;
$--color-orange-300: #FBD26A;
$--color-orange-400: #F9BF39;
$--color-orange-500: #F5A905;
$--color-orange-600: #E49101;
$--color-orange-700: #BD7100;
$--color-orange-800: #8F5100;
$--color-orange-900: #703C00;

// Red
$--color-red-50:  #FDF1F1;
$--color-red-100: #FCE3E3;
$--color-red-200: #F7BABA;
$--color-red-300: #F29898;
$--color-red-400: #EE7575;
$--color-red-500: #E74B4B;
$--color-red-600: #D24241;
$--color-red-700: #C13433;
$--color-red-800: #922120;
$--color-red-900: #7B1414;

// Fuchsia
$--color-fuchsia-50:  #FCF3F8;
$--color-fuchsia-100: #FAE0F0;
$--color-fuchsia-200: #F5CCE5;
$--color-fuchsia-300: #EDABD3;
$--color-fuchsia-400: #E689C2;
$--color-fuchsia-500: #E166B1;
$--color-fuchsia-600: #D04392;
$--color-fuchsia-700: #AD297A;
$--color-fuchsia-800: #8C175F;
$--color-fuchsia-900: #6E0C48;

// Purple
$--color-purple-50:  #F7F5FE;
$--color-purple-100: #EBE7FE;
$--color-purple-200: #D8D1FA;
$--color-purple-300: #C3B9F4;
$--color-purple-400: #A89BE9;
$--color-purple-500: #8B79E2;
$--color-purple-600: #745CD6;
$--color-purple-700: #5F4AC9;
$--color-purple-800: #4E37A9;
$--color-purple-900: #3F317D;

// Neutral
$--color-neutral-30:  #F9FAFC;
$--color-neutral-50:  #F5F6FA;
$--color-neutral-100: #ECEEF3;
$--color-neutral-200: #D1D7E0;
$--color-neutral-300: #B1B9C9;
$--color-neutral-400: #8894AA;
$--color-neutral-500: #616E85;
$--color-neutral-600: #3D495C;
$--color-neutral-700: #2C3544;
$--color-neutral-800: #1D242F;
$--color-neutral-900: #131720;

// Gray
$--color-gray-50:   #F5F5F5;
$--color-gray-100:  #EDEDED;
$--color-gray-200:  #D9D9D9;
$--color-gray-300:  #BFBFBF;
$--color-gray-400:  #999999;
$--color-gray-500:  #666666;
$--color-gray-600:  #4D4D4D;
$--color-gray-700:  #333333;
$--color-gray-800:  #242424;
$--color-gray-900:  #141414;


/* Box Shadow */
$--shadow-inner:   inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
$--shadow-sm:      0 2.3px 2px 0 rgba(0, 0, 0, 0.04), 0px 0.8px 1px 0 rgba(0,0,0,0.08);
$--shadow-base:    0 4.5px 10px 0 rgba(0, 0, 0, 0.05), 0 1.9px 4px 0 rgba(0, 0, 0, 0.05), 0px 0.7px 1.4px 0 rgba(0,0,0,0.07);
$--shadow-md:      0 7px 14px -1px rgba(0, 0, 0, 0.05), 0 2.6px 10px -1px rgba(0, 0, 0, 0.06), 0 0.9px 4px -1px rgba(0,0,0,0.08);
$--shadow-lg:      0 16px 16px -1px rgba(0, 0, 0, 0.04), 0 5.7px 12px -1px rgba(0, 0, 0, 0.05), 0 2.6px 8px -1px rgba(0,0,0,0.06), 0,0.9px,4px,-1px rgba(0,0,0,0.08);
$--shadow-xl:      0 21.8px 40px 0 rgba(0, 0, 0, 0.06), 0 8px 20px 0 rgba(0, 0, 0, 0.08), 0 2px 8px 0 rgba(0,0,0,0.1);
$--shadow-2xl:     0 30px 60px 0 rgba(0, 0, 0, 0.04), 0 20px 40px 0 rgba(0,0,0,0.08), 0 10px 24px 0 rgba(0,0,0,0.09), 0 2.7px 9px 0 rgba(0,0,0,0.13);
$--shadow-none:    none;

/*
  Border Radius
  The default radius for element is 2px.
  We also provide a value of 6 sizes for different situations.
*/
$--borderRadius-none:    0;
$--borderRadius-sm:      0.125rem; // 2px
$--borderRadius-md:      0.25rem;  // 4px
$--borderRadius-lg:      0.5rem;   // 8px
$--borderRadius-full:    9999px;

/* Font-size
-------------------------- */
$--fontSize-xs: 0.75rem;   // xs 12px
$--fontSize-sm: 0.875rem;  // sm,h6 14px
$--fontSize-base: 1rem;    // base,h5 16px
$--fontSize-lg: 1.125rem;  // lg 18px
$--fontSize-xl: 1.25rem;   // xl,h4 20px
$--fontSize-2xl: 1.5rem;   // h3 24px
$--fontSize-3xl: 2rem;     // h2 32px
$--fontSize-4xl: 2.5rem;   // h1 40px


$--color-text-placeholder: $--color-gray-5 !default;
$--color-info: $--color-gray-6;
$--color-text-regular: $--color-gray-8 !default;
/* Table
-------------------------- */
$--table-border-color: $--color-gray-3 !default;
$--table-border: 1px solid $--table-border-color !default;
$--table-text-color: $--color-text-regular !default;
$--table-header-color: $--color-info !default;
$--table-row-hover-background: $--color-gray-2  !default;
$--table-current-row-background: $--color-primary-light-9 !default;
$--table-header-background: transparent !default;
$--table-footer-background: $--color-text-placeholder !default;
$--table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, .12) !default;

/* ================================================================ */

/* CSS Variables */
:root {
  --tw-bg-opacity: 1;

  // DarkBlue
  --color-darkblue-50: #{$--color-darkblue-50};
  --color-darkblue-100: #{$--color-darkblue-100};
  --color-darkblue-200: #{$--color-darkblue-200};
  --color-darkblue-300: #{$--color-darkblue-300};
  --color-darkblue-400: #{$--color-darkblue-400};
  --color-darkblue-500: #{$--color-darkblue-500};
  --color-darkblue-600: #{$--color-darkblue-600};
  --color-darkblue-700: #{$--color-darkblue-700};
  --color-darkblue-800: #{$--color-darkblue-800};
  --color-darkblue-900: #{$--color-darkblue-900};

  // Brand
  --color-brand-50: #{$--color-brand-50};
  --color-brand-100: #{$--color-brand-100};
  --color-brand-200: #{$--color-brand-200};
  --color-brand-300: #{$--color-brand-300};
  --color-brand-400: #{$--color-brand-400};
  --color-brand-500: #{$--color-brand-500};
  --color-brand-600: #{$--color-brand-600};
  --color-brand-700: #{$--color-brand-700};
  --color-brand-800: #{$--color-brand-800};
  --color-brand-900: #{$--color-brand-900};

  // Skyblue
  --color-skyblue-50: #{$--color-skyblue-50};
  --color-skyblue-100: #{$--color-skyblue-100};
  --color-skyblue-200: #{$--color-skyblue-200};
  --color-skyblue-300: #{$--color-skyblue-300};
  --color-skyblue-400: #{$--color-skyblue-400};
  --color-skyblue-500: #{$--color-skyblue-500};
  --color-skyblue-600: #{$--color-skyblue-600};
  --color-skyblue-700: #{$--color-skyblue-700};
  --color-skyblue-800: #{$--color-skyblue-800};
  --color-skyblue-900: #{$--color-skyblue-900};

  // Cyan
  --color-cyan-50: #{$--color-cyan-50};
  --color-cyan-100: #{$--color-cyan-100};
  --color-cyan-200: #{$--color-cyan-200};
  --color-cyan-300: #{$--color-cyan-300};
  --color-cyan-400: #{$--color-cyan-400};
  --color-cyan-500: #{$--color-cyan-500};
  --color-cyan-600: #{$--color-cyan-600};
  --color-cyan-700: #{$--color-cyan-700};
  --color-cyan-800: #{$--color-cyan-800};
  --color-cyan-900: #{$--color-cyan-900};

  // Green
  --color-green-50: #{$--color-green-50};
  --color-green-100: #{$--color-green-100};
  --color-green-200: #{$--color-green-200};
  --color-green-300: #{$--color-green-300};
  --color-green-400: #{$--color-green-400};
  --color-green-500: #{$--color-green-500};
  --color-green-600: #{$--color-green-600};
  --color-green-700: #{$--color-green-700};
  --color-green-800: #{$--color-green-800};
  --color-green-900: #{$--color-green-900};

  // Lime
  --color-lime-50: #{$--color-lime-50};
  --color-lime-100: #{$--color-lime-100};
  --color-lime-200: #{$--color-lime-200};
  --color-lime-300: #{$--color-lime-300};
  --color-lime-400: #{$--color-lime-400};
  --color-lime-500: #{$--color-lime-500};
  --color-lime-600: #{$--color-lime-600};
  --color-lime-700: #{$--color-lime-700};
  --color-lime-800: #{$--color-lime-800};
  --color-lime-900: #{$--color-lime-900};

  // Orange
  --color-orange-50: #{$--color-orange-50};
  --color-orange-100: #{$--color-orange-100};
  --color-orange-200: #{$--color-orange-200};
  --color-orange-300: #{$--color-orange-300};
  --color-orange-400: #{$--color-orange-400};
  --color-orange-500: #{$--color-orange-500};
  --color-orange-600: #{$--color-orange-600};
  --color-orange-700: #{$--color-orange-700};
  --color-orange-800: #{$--color-orange-800};
  --color-orange-900: #{$--color-orange-900};

  // Red
  --color-red-50: #{$--color-red-50};
  --color-red-100: #{$--color-red-100};
  --color-red-200: #{$--color-red-200};
  --color-red-300: #{$--color-red-300};
  --color-red-400: #{$--color-red-400};
  --color-red-500: #{$--color-red-500};
  --color-red-600: #{$--color-red-600};
  --color-red-700: #{$--color-red-700};
  --color-red-800: #{$--color-red-800};
  --color-red-900: #{$--color-red-900};

  // Fuchsia
  --color-fuchsia-50: #{$--color-fuchsia-50};
  --color-fuchsia-100: #{$--color-fuchsia-100};
  --color-fuchsia-200: #{$--color-fuchsia-200};
  --color-fuchsia-300: #{$--color-fuchsia-300};
  --color-fuchsia-400: #{$--color-fuchsia-400};
  --color-fuchsia-500: #{$--color-fuchsia-500};
  --color-fuchsia-600: #{$--color-fuchsia-600};
  --color-fuchsia-700: #{$--color-fuchsia-700};
  --color-fuchsia-800: #{$--color-fuchsia-800};
  --color-fuchsia-900: #{$--color-fuchsia-900};

  // Purple
  --color-purple-50: #{$--color-purple-50};
  --color-purple-100: #{$--color-purple-100};
  --color-purple-200: #{$--color-purple-200};
  --color-purple-300: #{$--color-purple-300};
  --color-purple-400: #{$--color-purple-400};
  --color-purple-500: #{$--color-purple-500};
  --color-purple-600: #{$--color-purple-600};
  --color-purple-700: #{$--color-purple-700};
  --color-purple-800: #{$--color-purple-800};
  --color-purple-900: #{$--color-purple-900};

  // Neutral
  --color-neutral-30: #{$--color-neutral-30};
  --color-neutral-50: #{$--color-neutral-50};
  --color-neutral-100: #{$--color-neutral-100};
  --color-neutral-200: #{$--color-neutral-200};
  --color-neutral-300: #{$--color-neutral-300};
  --color-neutral-400: #{$--color-neutral-400};
  --color-neutral-500: #{$--color-neutral-500};
  --color-neutral-600: #{$--color-neutral-600};
  --color-neutral-700: #{$--color-neutral-700};
  --color-neutral-800: #{$--color-neutral-800};
  --color-neutral-900: #{$--color-neutral-900};

  // Gray
  --color-gray-50: #{$--color-gray-50};
  --color-gray-100: #{$--color-gray-100};
  --color-gray-200: #{$--color-gray-200};
  --color-gray-300: #{$--color-gray-300};
  --color-gray-400: #{$--color-gray-400};
  --color-gray-500: #{$--color-gray-500};
  --color-gray-600: #{$--color-gray-600};
  --color-gray-700: #{$--color-gray-700};
  --color-gray-800: #{$--color-gray-800};
  --color-gray-900: #{$--color-gray-900};


  // Shadows
  --shadow-inner: #{$--shadow-inner};
  --shadow-sm: #{$--shadow-sm};
  --shadow-base: #{$--shadow-base};
  --shadow-md: #{$--shadow-md};
  --shadow-lg: #{$--shadow-lg};
  --shadow-xl: #{$--shadow-xl};
  --shadow-2xl: #{$--shadow-2xl};
  --shadow-none: #{$--shadow-none};

  // Border Radius
  --borderRadius-none: #{$--borderRadius-none};
  --borderRadius-sm: #{$--borderRadius-sm};
  --borderRadius-md: #{$--borderRadius-md};
  --borderRadius-lg: #{$--borderRadius-lg};
  --borderRadius-full: #{$--borderRadius-full};

  // Font Size
  --fontSize-xs: #{$--fontSize-xs};
  --fontSize-sm: #{$--fontSize-sm};
  --fontSize-base: #{$--fontSize-base};
  --fontSize-lg: #{$--fontSize-lg};
  --fontSize-xl: #{$--fontSize-xl};
  --fontSize-2xl: #{$--fontSize-2xl};
  --fontSize-3xl: #{$--fontSize-3xl};
  --fontSize-4xl: #{$--fontSize-4xl};
}


