/* Just rewrite what you need */

// https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/mixins/function.scss
// https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss
// @use 'element-plus/theme-chalk/src/mixins/function' as *;
@forward 'element-plus/theme-chalk/src/common/var.scss' with (

  // Color
  $colors: (
    'primary': (
      'base': $--color-brand-500,
      'var-name': 'brand',
    ),
    'success': (
      'base': $--color-green-500,
      'var-name': 'green',
    ),
    'warning': (
      'base': $--color-orange-500,
      'var-name': 'orange',
    ),
    'danger': (
      'base': $--color-red-500,
      'var-name': 'red',
    ),
    'error': (
      'base': $--color-red-500,
      'var-name': 'red',
    ),
    'info': (
      'base': $--color-neutral-500,
      'var-name': 'neutral',
    ),
  ),

  $text-color: (
    'primary': $--color-neutral-800,
    'regular': $--color-neutral-600,
    'secondary': $--color-neutral-400,
    'placeholder': $--color-neutral-300,
    'disabled': $--color-neutral-300
  ),

  $border-color: (
    '': $--color-neutral-200,
    'light': $--color-neutral-100,
    'lighter': $--color-neutral-100,
    'extra-light': $--color-neutral-100,
    'dark': $--color-neutral-300,
    'darker': $--color-neutral-300
  ),

  $fill-color: (
    '': $--color-neutral-100,
    'light': $--color-neutral-50,
    'lighter': $--color-neutral-50,
    'extra-light': $--color-neutral-50,
    'dark': rgba($--color-neutral-200,.5),
    'darker': rgba($--color-neutral-200,.5)
  ),

  // Background
  $bg-color: (
    'page': $--color-neutral-50,
  ),

  // Border
  $border-radius: (
    'base': $--borderRadius-sm,
    'small': $--borderRadius-sm,
    'round': $--borderRadius-full,
    'circle': 100%,
  ),

  // Box-shadow
  // 视组件覆盖情况决定是否需补充其余shadow变量
  $box-shadow: (
    '': $--shadow-base,
    'light': $--shadow-md,
    'lighter': $--shadow-sm,
    'dark': $--shadow-2xl,
  ),

  // Typography
  $font-size: (
    'extra-large': $--fontSize-xl,
    'large': $--fontSize-lg,
    'medium': $--fontSize-base,
    'base': $--fontSize-sm,
    'small': $--fontSize-xs,
    'extra-small': $--fontSize-xs,
  ),

  // Disable default
  $disabled: (
    'border-color': getCssVar('border-color'),
  ),

  // Size
  $common-component-size: (
    'large': 40px,
    'default': 32px,
    'small': 28px,
    'mini': 24px,
  ),


  // Components
  // ---
  // Tag
  $tag: (
    'font-size-large': getCssVar('font-size-base'),
    'font-size-default': getCssVar('font-size-base'),
    'font-size-small': getCssVar('font-size-small'),
    'font-size-mini': getCssVar('font-size-small'),
    'border-radius': $--borderRadius-sm,
    'icon-size-large': 16px,
    'icon-size-default': 16px,
    'icon-size-small': 14px,
    'icon-size-mini': 14px,
  ),
  $tag-height: (
    'large': 32px,
    'default': 28px,
    'small': 24px,
    'mini': 18px,
  ),
  $tag-padding: (
    'large': 0 12px,
    'default': 0 10px,
    'small': 0 8px,
    'mini': 0 8px,
  ),

  // Badge
  $badge: (
    'radius': 24px,
    'font-size-large': getCssVar('font-size-base'),
    'font-size-medium':getCssVar('font-size-base'),
    'font-size-small': getCssVar('font-size-small'),
    'padding-large': 8px,
    'padding-medium': 6px,
    'padding-small': 4px,
    'size-large': 24px,
    'size-medium': 18px,
    'size-small': 14px,
    'dot-size-large': 10px,
    'dot-size-medium': 8px,
    'dot-size-small': 6px,
  ),

  // Button
  $button-font-size: (
    'small': getCssVar('font-size', 'base'),
  ),
  $button-border-radius: (
    'small': getCssVar('border-radius', 'base'),
  ),
  $button-padding-vertical: (
    'large': 12px,
    'default': 8px,
  ),
  $button-padding-horizontal: (
    'large': 16px,
    'default': 12px,
    'small': 10px,
    'mini': 8px,
  ),

  // Input
  $input-padding-horizontal: (
    'mini': 8px,
  ),

);

// 如果只是按需导入，则可以忽略以下内容。
// 如果你想导入所有样式:
// @use 'element-plus/theme-chalk/src/index.scss' as *;

